swagger: '2.0'
info:
  title: Linn Network Control Protocol
  description: Network control protocol for Linn DS and OpenHome
  #version: 4.1.105
  version: '4.1.54'
host: www.janustechnology.co.uk
schemes:
  - http
basePath: /lncp
produces:
  - application/json
paths:
  /api/version:
    post:
      summary: Query API version
      description: |
        Get version information about this API.  This API request is guaranteed to always exist and always return the same format response to allow clients to determine whether they are compatible with this system.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
      tags:
        - House
      responses:
        '200':
          description: API version information
          schema:
            $ref: '#/definitions/APIVersionResponse'
          examples:
            tag: tag_01
            data:
              currentVersion: 1.0.0
              minimumClientVersion: 1.0.0
        default:
          $ref: '#/responses/default'
  /session/create:
    post:
      summary: Create a Session
      description: |
        Sessions provide a mechanism for specifying on-going settings just once (e.g. filtering, language choice).  They also provide a context for asynchronous events.  The return session id is required alongside the tag for further requests.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamTag'
            - type: object
              properties:
                userAgent:
                  description: Information about the control system creating a session, formatted in the form of, {identifier}/{version}, e.g. Linn Crestron/4.2.1.
                  type: string
                timeout:
                  description: If the connection to the device is via a protocol that does not keep a connection open (e.g. discrete HTTP requests) then this parameter gives a timeout in seconds.  The device is permitted to discard any session-related data if it has not received a message containing this session ID after this many seconds.
                  type: integer
                locale:
                  description: Set desired locale. List of locales in order of preference. Locale specified as ll[_CC] using ISO 639 (language) and ISO 3166-1 alpha-2 (2-letter country) codes.  If the device is unable to support any of the locales, it will still send back a 200 response, but the locale value will show the default locale that has been chosen instead. This is a short-cut to allow creating a session and choosing a locale in one call rather than calling /sesion/locale separately.
                  type: array
                  items:
                    type: string
      tags:
        - Session
      responses:
        '200':
          description: Current session data.  The session ID will be a new one generated by the device that is unique within the connecting context, i.e. if connected by HTTP, not currently used by any other HTTP client; if connected by WebSocket, not previously used within that connection.
          schema:
            $ref: '#/definitions/SessionResponse'
          examples:
            application/json:
              session: s.01
              tag: command1
              data:
                locale: en_GB
        default:
          $ref: '#/responses/default'
  /session/destroy:
    post:
      summary: End a Session
      description: Inform the device that a session is stopping. Any information held about the session can be discarded.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamTag'
      tags:
        - Session
      responses:
        '200':
          description: Acknowledgement of session ending. Also used as an event to indicate a device terminating a session.
          schema:
            type: object
            properties:
              session:
                type: string
                description: Session ID of the terminated session.
              tag:
                type: string
                description: Tag from the original request that generated this response.
          examples:
            application/json:
              session: s.01
        default:
          $ref: '#/responses/default'
  /session/locale:
    post:
      summary: Query or Set Session Locale
      description: This queries or sets the locale for the given session (not specifying the locale parameter just returns the current setting).  Any language or locale dependent strings returned by subsequent API calls that specify the same session ID will be localised according to the selected locale (if it is supported).
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamTag'
            - type: object
              properties:
                locale:
                  description: Set desired locale. List of locales in order of preference. Locale specified as ll[_CC] using ISO 639 (language) and ISO 3166-1 alpha-2 (2-letter country) codes.  If the device is unable to support any of the locales, it will still send back a 200 response, but the locale value will show the default locale that has been chosen instead.
                  type: array
                  items:
                    type: string
      tags:
        - Session
      responses:
        '200':
          description: Current session data
          schema:
            $ref: '#/definitions/SessionResponse'
          examples:
            application/json:
              session: s.01
              tag: command2
              data:
                locale: es_ES
        default:
          $ref: '#/responses/default'
  /session/filter:
    post:
      summary: Query or Set Session Filter for a Request
      description: |
        Filters allow clients to limit the information returned in the `data` object of the response to a given request. Once a filter has been set up, any subsequent invocation of the request that includes the session ID will have the filter applied.

        Filters are specified using JsonPath, with the root ($) set to the `data` object in the operation response. For more details on JsonPath see https://developer.gnome.org/json-glib/stable/JsonPath.html.

        Examples of filtering the `/room/play_state` response
         * to just the name `$.metadata.name`
         * to name,album,artist `$.metadata.name $.metadata.album $.metadata.artist`

      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamTag'
            - type: object
              properties:
                path:
                  description: Request path to which to apply the filter.
                  type: string
                set_filter:
                  description: |
                    A space-separated list of JsonPath expressions to match parts of the `data` node. Unmatched nodes are filtered out.

                    If an asterisk (*): the filter is removed, so the entire `data` node is returned.

                    If "none": only the enclosing response message is returned and not the `data` node (this can be used to reduce traffic if only an acknowledgement of success or failure is required).
                  type: array
                  items:
                    type: string
                incremental:
                  description: If set to true then the device will assume that the client is caching the responses for the given path.  All responses to that command and any asynchronous notifications of the same type will only include properties that have changed.
                  type: boolean
      tags:
        - Session
      responses:
        '200':
          description: Current session data
          schema:
            $ref: '#/definitions/SessionResponse'
          examples:
            application/json:
              session: s.01
              tag: command3
              data:
                locale: zh_CN
                filters:
                  - path: /room/play_state
                    filter: $.metadata.name $.metadata.album $.metadata.artist
                    incremental: true
                  - path: /room/state
                    incremental: true
        default:
          $ref: '#/responses/default'
  /house/topology:
    post:
      summary: Query House Topology
      description: This queries the topology of the house; the rooms within it, how they are related and their current availability.  If the optional room parameter is specified, only information for that room is returned.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoomOptional'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - House
        - Room
        - Updates
      responses:
        '200':
          description: List of rooms
          schema:
            $ref: '#/definitions/HouseTopologyResponse'
          examples:
            application/json:
              session: s.02
              tag: command4
              data:
                hasMultiroom: true
                rooms:
                  - id: r.1
                    name: Living Room
                    standbyState: OFF
                    satellites: []
                    roomReceiverEnabled: true
                    listeners:
                      - r.2
                      - r.3
                    availableListeners: []
                  - id: r.2
                    name: Bedroom
                    standbyState: OFF
                    satellites:
                      - r.3
                    roomReceiverEnabled: true
                    listeningTo: r.1
                    listeners: []
                    availableListeners: []
                  - id: r.3
                    name: En-Suite
                    standbyState: OFF
                    satellites: []
                    roomReceiverEnabled: true
                    listeningTo: r.1
                    listeners: []
                    availableListeners: []
        default:
          $ref: '#/responses/default'
  /house/services:
    post:
      summary: Query House Services
      description: This queries the top-level browse object available for the house and their current availability.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
      tags:
        - House
      responses:
        '200':
          description: List of services
          schema:
            $ref: '#/definitions/HouseTopologyResponse'
          examples:
            application/json:
              session: s.02
              tag: command4
              services:
                rooms:
                  - name: My Queue
                    class: md.room.playlist
                    browsable: true
                  - name: My Radio
                    class: md.room.radio
                    browsable: true
                  - name: My Pins
                    class: md.room.pins
                    browsable: true
                  - name: Spotify
                    class: md.room.spotify
                    browsable: false
        default:
          $ref: '#/responses/default'
  /room/group:
    post:
      summary: Add and remove room grouping
      description: This modifies the grouping of rooms, adding rooms to and removing them from a master room.  The room parameter indicates the master.  The API supports multiple simultaneous additions and removals to avoid an unpleasant slow ripple effect in the UI as the grouping changes one by one.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              properties:
                add:
                  description: The ids of the rooms to add to the master room's group.
                  type: array
                  items:
                    type: string
                remove:
                  description: The ids of the rooms to remove from the master room's group.
                  type: array
                  items:
                    type: string
      tags:
        - House
        - Room
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /room/state:
    post:
      summary: Query room state
      description: |
        This queries the core settings of a room: standby state, mute and volume. The latest values are returned in the response.  All information returned in the response is guaranteed to be internally consistent.

        The parameters documented here show all possible settings for all products. Use `/room/state/spec` to find out what settings are on the currently connected room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
            - type: object
              properties:
                group:
                  description: If specified and true and the room is a member of a group, the values returned are for the group as a whole.
                  type: boolean
      tags:
        - Room
        - Updates
      responses:
        '200':
          description: Standby, mute and volume status for a room
          schema:
            $ref: '#/definitions/RoomStateResponse'
          examples:
            application/json:
              data:
                standby: false
                standbyState: OFF
                mute: false
                volume: 50
        default:
          $ref: '#/responses/default'
  /room/state/set:
    post:
      summary: Set room state
      description: |
        This sets the core settings of a room: standby state, mute and volume. If any setting is specified in the parameters, it changed to the new value.

        The parameters documented here show all possible settings for all products. Use `/room/state/spec` to find out what settings are on the currently connected room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              properties:
                group:
                  description: If specified and the room is a group master, all rooms in the group are modified.
                  type: boolean
                standby:
                  description: If specified, sets the standby state of the room.
                  type: boolean
                mute:
                  description: If specified, sets the mute state of the room.
                  type: boolean
                volume:
                  description: If specified, sets the volume of the room as a percentage.
                  type: integer
                  minimum: 0
                  maximum: 100
                volume_step:
                  description: If specified, perform a relative volume level change. Negative values lower the volume. Can be repeated with step_repeat.
                  type: integer
                  format: int32
                step_repeat:
                  description: Number of times to repeat the volume_step operation (unless cancelled).
                  type: integer
                  format: int32
                step_interval:
                  description: Number of milliseconds between each step repetition; only applicable if volume_step specified.
                  type: integer
                  format: int32
      tags:
        - Room
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /room/state/spec:
    post:
      summary: Describe available settings for a room
      description: |
        Return what settings are available for the given room and valid values.

        The information returned from this operation can then be used to determine valid options for the `/room/state/set` operation.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - Room
        - Updates
      responses:
        '200':
          description: Specification of state parameters for a room
          schema:
            $ref: '#/definitions/RoomStateSpecResponse'
          examples:
            application/json:
              data:
                standby:
                  readonly: false
                standbyState:
                  enum:
                    - OFF
                    - MIXED
                    - ON
                  readonly: true
                mute:
                  readonly: false
                volume:
                  minimum: 0
                  maximum: 100
        default:
          $ref: '#/responses/default'
  /room/state/cancel_step:
    post:
      summary: Cancel Repeating Volume Step
      description: Stop ramping volume.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
      tags:
        - Room
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /room/play_state:
    post:
      summary: Get room's playback state
      description: |
        Controls the playback of the current source.

        If the client sets `update` > 0, a change to the `position` property will only trigger an update event on a seek or track change (i.e. on a non-linear change to the position). For per-second updates to the playback position, use the `/room/play_state/position` operation.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - Room
        - Updates
      responses:
        '200':
          description: Playback state for the room
          schema:
            $ref: '#/definitions/RoomPlayStateResponse'
          examples:
            application/json:
              data:
                transport_state: buffering
                action: play
                queue_index: 3
                queue_length: 5
                position: 0
                position_min: 0
                position_max: 0
                repeat: false
                shuffle: true
                channel:
                  name: Podcasts R Us
                  type: Speech Radio
                  art_uri: http://1.2.3.4/podcasts.png
                details:
                  bit_depth: 24
                  bit_rate: 320000
                  codec_name: MP3
                  duration: 0
                  lossless: false
                  sample_rate: 44100
                metatext: The best podcasts in the world
                metadata:
                  class: md.track
                  id: track.123456
                  buffering: true
                  playing: false
                  selected: true
                  name: Go!
                  art_uri: http://127.0.0.1/art.png
                  album: The Race for Space
                  artist: Public Service Broadcasting
                  duration: 0
        default:
          $ref: '#/responses/default'
  /room/play_state/position:
    post:
      summary: Get position of playback
      description: |
        Return the position of playback for the current room.

        If the client sets `update` > 0, an update will be sent to the client every update period with the current playback position.
        This allows clients to easily poll the current playback position every second without having to set-up a session and filter out the rest of the `/room/play_state` data.

      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - Room
        - Updates
      responses:
        '200':
          description: Playback state for the room
          schema:
            $ref: '#/definitions/RoomPlayStatePositionResponse'
          examples:
            application/json:
              data:
                position: 42
                position_min: 0
                position_max: 252
        default:
          $ref: '#/responses/default'
  /room/play_state/set:
    post:
      summary: Control the room's playback state
      description: |
        Controls the playback of the current source.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              properties:
                action:
                  description: "If specified, sets the current transport state. `toggle` will toggle between states as follows: stop -> play; pause -> play; play -> pause if the current source supports pause else stop."
                  type: string
                  enum:
                    - stop
                    - play
                    - pause
                    - toggle
                shuffle:
                  description: If specified, sets the current shuffle state (off or shuffle all items).
                  type: boolean
                repeat:
                  description: If specified, sets the current repeat state (off or repeat entire queue).
                  type: boolean
                queue_index:
                  description: If specified, selects which track in the queue to play, otherwise operations are on the current track
                  type: integer
                  format: int32
                position:
                  description: If specified, sets the position within the track to move to
                  type: integer
                  format: int32
                skip_track:
                  description: If specified, number of tracks to skip. Negative values skip backwards. Can be repeated with skip_repeat.
                  type: integer
                  format: int32
                skip_position:
                  description: If specified, number of seconds to skip within the track. Negative values skip backwards. Can be repeated with skip_repeat.
                  type: integer
                  format: int32
                skip_repeat:
                  description: Number of times to repeat the skip operation (unless cancelled); only applicable if skip_track or skip_position specified.
                  type: integer
                  format: int32
                skip_interval:
                  description: Number of milliseconds between each skip repetition; only applicable if skip_track or skip_position specified.
                  type: integer
                  format: int32
      tags:
        - Room
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /room/play_state/spec:
    post:
      summary: Get playback control options
      description: |
        Return what playback control is possible for the current source and item.

        The information returned from this operation be used to determin what /room/play_state values and operations are valid in the current context, and thus define what UI elements should be displayed.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - Room
        - Updates
      responses:
        '200':
          description: Play status parameters for a room
          schema:
            $ref: '#/definitions/RoomPlayControlSpecResponse'
          examples:
            application/json:
              data:
                action:
                  enum:
                    - play
                    - pause
                    - stop
                queue_index:
                  readonly: false
                position:
                  readonly: true
                repeat:
                  readonly: false
                shuffle:
                  readonly: false
                      
        default:
          $ref: '#/responses/default'
  /room/play_state/cancel_skip:
    post:
      summary: Cancel Repeating Skip
      description: Stop skipping forwards or backwards through source content.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
      tags:
        - Room
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /room/select:
    post:
      summary: Select For Playback
      description: |
        Selects some media item for playback in the given room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              properties:
                media_id:
                  description: Identifier that specifies what should be played.  The id is obtained either through a browse/link/match/search request or from the current play queue.
                  type: string
                queue:
                  description: If the item is queueable, specifies how it should modify the play queue.  If not specified, last is assumed.  If the item is not queueable, this parameter is ignored. `now` places the item(s) before what is currently playing, stops play and starts playing the new items. `next` places the item(s) after the currently playing item; `last` places the item(s) at the end of the queue; `replace` replaces the whole queue with the given item(s).
                  type: string
                  enum:
                    - now
                    - next
                    - last
                    - replace
      tags:
        - Room
        - Queue
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /room/endpoints:
    post:
      summary: Get available endpoints for a room
      description: Returns descriptions of available endpoints for a room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - Room
        - Browse
        - Updates
      responses:
        '200':
          description: List of the available media endpoints.
          schema:
            $ref: '#/definitions/RoomEndPointsResponse'
        default:
          $ref: '#/responses/default'
  /preset/save:
    post:
      summary: Save Preset
      description: |
        Saves a given media item as the named preset.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - preset_id
              - media_id
              properties:
                preset_id:
                  description: Identifier of the preset to initialise with the given media id.
                  type: string
                media_id:
                  description: Identifier of the item to use to create the preset.  If the identifier is a room identifier, the preset is created from the current play queue of that room.
                  type: string
      tags:
        - Room
        - Presets
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /preset/recall:
    post:
      summary: Recall Preset
      description: |
        Recalls a preset to play in a room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - preset_id
              properties:
                preset_id:
                  description: Identifier of the preset to recall.
                  type: string
      tags:
        - Room
        - Presets
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /media/browse:
    post:
      summary: Browse Media Content
      description: Returns descriptions of available media items, including references that allow them to be played on the media player.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: Identifier of the item in the browse hierarchy for which to return browse information.
                index:
                  type: integer
                  description: Zero-based offset into the list of children for the item from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - Browse
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
  /media/list:
    post:
      summary: Browse Media Content by Type
      description: Returns descriptions of available media items that match the given class, including references that allow them to be played on the media player.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              - class
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: Identifier of the item in the browse hierarchy that acts as the root of the list operation.  The item must support the list feature.
                class:
                  type: string
                  description: Media class for which to return matching browse information.
                index:
                  type: integer
                  description: Zero-based offset into the matching items from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - Browse
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
  /media/link:
    post:
      summary: Browse Media Content by Type and Matching String
      description: Returns descriptions of available media items that match the given class, including references that allow them to be played on the media player.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              - class
              - match
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: Identifier of the item in the browse hierarchy that acts as the root of the link operation.  The item must support the link feature.
                class:
                  type: string
                  description: Media class for which to return matching browse information.
                match:
                  type: string
                  description: String to match against.
                index:
                  type: integer
                  description: Zero-based offset into the matching items from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - Browse
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
  /media/match:
    post:
      summary: Search Media Content by Type and Matching String
      description: Returns descriptions of available media items that match the given class, including references that allow them to be played on the media player.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              - class
              - match
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: Identifier of the item in the browse hierarchy that acts as the root of the match operation.  The item must support the match feature.
                class:
                  type: string
                  description: Media class for which to return matching browse information.
                match:
                  type: string
                  description: String to match against.
                index:
                  type: integer
                  description: Zero-based offset into the matching items from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - Browse
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
  /media/search:
    post:
      summary: Search Media Content for Matching String
      description: Returns descriptions of available media items that match the given string, including references that allow them to be played on the media player.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              - match
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: Identifier of the item in the browse hierarchy that acts as the root of the search operation.  The item must support the search feature.
                match:
                  type: string
                  description: String to match against.
                index:
                  type: integer
                  description: Zero-based offset into the matching items from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - Browse
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
  /media/changes:
    post:
      summary: Query Changes In Media Library
      description: Returns a list of media object ids that are known to have changed since the last call to this method with the specified session id.  Note that it is not guaranteed to return every change; only those that the gateway has noticed.  Calling this wilth the update parameter set provides a way for the gateway to notify the client that it may need to refresh its browse content.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - Browse
        - Updates
      responses:
        '200':
          description: Details of classes
          schema:
            $ref: '#/definitions/MediaChangesResponse'
        default:
          $ref: '#/responses/default'
  /media/classes:
    post:
      summary: Query Classes of Object
      description: |
        Browses the classes of object in the system.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - index
              - count
              properties:
                index:
                  type: integer
                  description: The zero-based index from which to browse classes.
                  format: int32
                count:
                  type: integer
                  description: The count of classes to return.
                  format: int32
      tags:
        - Browse
      responses:
        '200':
          description: Details of classes
          schema:
            $ref: '#/definitions/ClassesResponse'
        default:
          $ref: '#/responses/default'
  /media/actions:
    post:
      summary: Query Actions
      description: |
        Browses the actions provided by the system.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: A class id.  Optionally limits the actions returned to those relevant to this class.
                index:
                  type: integer
                  format: int32
                  description: The zero-based index from which to browse actions.
                count:
                  type: integer
                  format: int32
                  description: The count of actions to return.
      tags:
        - Browse
      responses:
        '200':
          description: Details of actions
          schema:
            $ref: '#/definitions/ActionsResponse'
        default:
          $ref: '#/responses/default'
  /media/favourite:
    post:
      summary: Set or Clear Favourite Flag
      description: Marks or unmarks a media item as a favourite.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - media_id
              - favourite
              properties:
                media_id:
                  type: string
                  description: Identifier of the item to mark or unmark as a favourite.
                favourite:
                  type: boolean
                  description: True to set as favourite, false to clear.
      tags:
        - Browse
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'

  /playlist/move:
    post:
      summary: Move Playlist Item
      description: Reorder a media item on a playlist.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - playlist_id
              - from_id
              properties:
                playlist_id:
                  type: string
                  description: Identifier of the playlist to modify.  If the identifier is a room identifier, the play queue of that room is modified.
                from_id:
                  type: string
                  description: Identifier of the item to move.
                to_id:
                  type: string
                  description: Identifier of the item before which the moved item should be inserted.  null (unspecified) will move the item to the end of the list.
      tags:
        - Playlist
        - Queue
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /playlist/remove:
    post:
      summary: Remove Playlist Item
      description: Remove a media item from a playlist.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - playlist_id
              - remove_id
              properties:
                playlist_id:
                  type: string
                  description: Identifier of the playlist to modify.  If the identifier is a room identifier, the play queue of that room is modified.
                remove_id:
                  type: string
                  description: Identifier of the item to remove.
      tags:
        - Playlist
        - Queue
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'
  /playlist/clear:
    post:
      summary: Remove All Playlist Items
      description: Remove all media items from a playlist.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - playlist_id
              properties:
                playlist_id:
                  type: string
                  description: Identifier of the playlist to modify.  If the identifier is a room identifier, the play queue of that room is modified.
      tags:
        - Playlist
        - Queue
      responses:
        '200':
          $ref: '#/responses/no_error'
        default:
          $ref: '#/responses/default'

  /metadata/display_options:
    post:
      summary: Metadata Display Options
      description: Describes how to display metadata.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamFilter'
            - $ref: '#/definitions/ParamSessionOptional'
            - $ref: '#/definitions/ParamTag'
            - type: object
              required:
              - class
              properties:
                class:
                  type: string
                  description: Identifier of the class of metadata for which to get display options.
      tags:
        - Browse
      responses:
        '200':
          description: Description of how to display the metadata.
          schema:
            $ref: '#/definitions/MetadataDisplayOptionsResponse'
        default:
          $ref: '#/responses/default'

  /media/unused:
    get:
      summary: Unused
      description: Dummy action used to reference derived metadata types that are otherwise unreferenced to avoid Swagger displaying warning messages.
      responses:
        '200':
          description: Tidal track metadata
          schema:
            $ref: '#/definitions/ItemMetaDataTidalTrack'
        '201':
          description: Tidal album metadata
          schema:
            $ref: '#/definitions/ItemMetaDataTidalAlbum'
        '202':
          description: Tidal playlist metadata
          schema:
            $ref: '#/definitions/ItemMetaDataTidalPlaylist'
        default:
          $ref: '#/responses/default'
  /V2/api/version:
    get:
      summary: Query API Version
      description: |
        Get version information about this API.  This API request is guaranteed to always exist and always return the same format response to allow clients to determine whether they are compatible with this system.
      parameters:
        - name: body
          required: false
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
      tags:
        - API V2
      responses:
        '200':
          description: API version information
          schema:
            $ref: '#/definitions/V2APIVersionResponse'
          examples:
            session: session_id
            tag: tag_01
            data:
                currentVersion: 1.0.0
                onDevice: true
        default:
          $ref: '#/responses/default'
  /V2/topology/status:
    get:
      summary: Get key information about current house topology
      description: |
        Returns a list of currently available rooms with their user-defined names. Information about their UDN, host address, static zone recievers (for Kustom DSM streams), and listening rooms.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date topology
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: List of rooms and key information about them
          schema:
            $ref: '#/definitions/V2TopologyStatusResponse'
          examples:
            application/json:
              tag: tag_01
              data:
                rooms:
                  - name: Living Room
                    udn: 4c494e4e-0026-0f22-3df0-1487425-0006
                    location: 192.168.0.135
                    isStaticZoneReceiver: false
                    staticZoneReceivers: []
                    listeners: []
                  - name: Bedroom
                    udn: 4c494e4e-0026-0f22-3df0-1487425-0009
                    location: 192.168.0.133
                    isStaticZoneReceiver: false
                    staticZoneReceivers: []
                    listeners: []
                  - name: En-Suite
                    udn: 4c494e4e-0026-0f22-3df0-1487425-0010
                    location: 192.168.0.143
                    isStaticZoneReceiver: false
                    staticZoneReceivers: []
                    listeners: []
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/topology/group:
    post:
      summary: Add and remove room grouping
      description: This modifies the grouping of rooms, adding rooms to and removing them from a master room.  The room parameter indicates the master.  The API supports multiple simultaneous additions and removals to avoid an unpleasant slow ripple effect in the UI as the grouping changes one by one.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                add:
                  description: The ids of the rooms to add to the master room's group.
                  type: array
                  items:
                    type: string
                remove:
                  description: The ids of the rooms to remove from the master room's group.
                  type: array
                  items:
                    type: string
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/product/status:
    get:
      summary: Query product status of room
      description: |
        Returns the standby state of the room.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date product status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Product status parameters for a room
          schema:
            $ref: '#/definitions/V2ProductStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                standby: false
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/product/set_standby:
    post:
      summary: Set standby state of room
      description: Sets the standby state of the room. True for standby active, False for standby off
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                standby:
                  description: If specified, sets the standby state of the room.
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/sources/status:
    get:
      summary: Query sources status of room
      description: | 
        Returns descriptions of the visible sources available and the current source of a room

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date sources status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Sources status parameters for a room
          schema:
            $ref: '#/definitions/V2SourcesStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                visible_sources:
                  - system_name: Analog1
                    display_name: LP12
                    type: Analog
                  - system_name: Front Aux
                    display_name: Front Aux
                    type: Analog
                  - system_name: HDMI1
                    display_name: PS5
                    type: Hdmi
                current_source:
                  system_name: Analog1
                  display_name: LP12
                  type: Analog
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/sources/set:
    post:
      summary: Select source by system name for playback
      description: Selects a source by its system name for playback in the given room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - name
              properties:
                system_name:
                  description: System name of the source for playback
                  type: string
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/pins/status:
    get:
      summary: Query pin status of room
      description: | 
        Returns information about the pin contents for chosen room

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date pins status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Pins status parameters for the room
          schema:
            $ref: '#/definitions/V2PinsStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                pin_list:
                  - id: pin1id
                    name: Qobuz Top 50
                    art_uri: http://127.0.0.1/art.png
                  - id: pin2id
                    name: Rumours
                    art_uri: http://127.0.0.1/art.png
                  - id: pin3id
                    name: Dark Side of the Moon
                    art_uri: http://127.0.0.1/art.png
                  - name: Empty 
                  - name: Empty 
                  - name: Empty
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/pins/set:
    post:
      summary: Set media content to a pin
      description: |
        Sets pin with new media item
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                pin_index:
                  description: Index of the pin to be set. An integer value between 1 and 6
                  type: integer
                  format: int32
                media_id:
                  description: Identifier that specifies what should be set to the pin.  The id is obtained either through a browse/link/match/search request or from the current play queue.
                  type: string
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/volume/status:
    get:
      summary: Query volume status of room
      description: |
        Return the mute and volume states of the room.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date volume status.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
            - type: object
              properties:
                group:
                  description: If specified and true and the room is a member of a group, the values returned are for the group as a whole.
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          description: Volume status parameters for a room
          schema:
            $ref: '#/definitions/V2VolumeStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                mute: false
                volume: 50
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/volume/step_vol:
    post:
      summary: Step volume of room
      description: |
        Step the volume level of a room. If a setting is specified in the parameter, the volume is increased or decreased by the specified step value.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                volume_step:
                  description: If specified, perform a relative volume level change. Negative values lower the volume.
                  type: integer
                  format: int32
                group:
                  description: If specified and the room is a group master, all rooms in the group are modified.
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/volume/set_vol:
    post:
      summary: Set volume of room by an absolute value
      description: |
        Sets the volume level of a room. If a setting is specified in the parameter, the volume will change to that value (within the volume limits).
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                volume:
                  description: If specified, perform an absolute volume level change.
                  type: integer
                  format: int32
                group:
                  description: If specified and the room is a group master, all rooms in the group are modified.
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/volume/set_mute:
    post:
      summary: Set mute state of room
      description: |
        Sets the mute state of a room. If a setting is specified in the parameter, the mute state is changed to the new value.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                mute:
                  description: If specified, sets the mute state of the room.
                  type: boolean
                group:
                  description: If specified and the room is a group master, all rooms in the group are modified.
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/status:
    get:
      summary: Query transport status of room
      description: |
        Return the transport status of the room.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date transport status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Transport status parameters for a room
          schema:
            $ref: '#/definitions/V2TransportStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                transport_state: buffering
                shuffle: true
                repeat: false
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/transport/play:
    post:
      summary: Set transport state of room to 'play'
      description: |
        Sets the transport state of the room to 'play'.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/pause:
    post:
      summary: Set transport state of room to 'pause'
      description: |
        Sets the transport state of the room to 'pause'.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/set_shuffle:
    post:
      summary: Set shuffle state of room
      description: |
        Sets the shuffle state of the room
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                shuffle:
                  description: If specified, sets the current shuffle state (off or shuffle all items).
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/set_repeat:
    post:
      summary: Set repeat state of room
      description: |
        Set the repeat state of the room
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                repeat:
                  description: If specified, sets the current repeat state (off or repeat entire queue).
                  type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/skip_track:
    post:
      summary: Skip tracks by specified index
      description: |
        Skips to previous/next track in the active playlist if relevant to active source
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                skip_track:
                  description: If specified, direction to skip. Negative value to skip backwards, positive value to skip forward.
                  type: integer
                  format: int32
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/seek/status:
    get:
      summary: Query seek status of what is currently playing in a room
      description: | 
        Returns information about whether the currently playing media item is seekable and if it is the running length and the current time elapsed

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date seek status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: List of the available services for a room.
          schema:
            $ref: '#/definitions/V2SeekStatusResponse'
        default:
          $ref: '#/responses/default'
  /V2/seek/set_position:
    post:
      summary: Skip to absolute position in currently playing item
      description: |
        Skips to absolute position in the currently playing item if relevant to active source
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              properties:
                position:
                  description: If specified, absolute position to change to
                  type: integer
                  format: int32
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/metadata/status:
    get:
      summary: Query metadata status of room
      description: |
        Returns information on room's metadata specifically for LinnLite module's metadata signal outputs (contents is dependant on source type). 

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date metadata status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Metadata status parameters for a room
          schema:
            $ref: '#/definitions/V2MetadataStatusResponse'
          examples:
            application/json:
              tag: tag_01
              metadata:
                line_1: Go!
                line_2: Public Service Broadcasting
                line_3: The Race for Space
                art_uri: http://127.0.0.1/art.png
              session: sessionid
              room: Living Room
        default:
          $ref: '#/responses/default'
  /V2/playlist/browse:
    get:
      summary: Browse the playlist of a room
      description: | 
        Returns descriptions of media items within the room's playlist, including index references that allow them to be played using the /V2/playlist/select endpoint.
        
        This endpoint can also be used to query the number of tracks in the room's playlist - making a request with a 'count' value of 0 will still return a response with the 'total'
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - index
              - count
              - concise
              properties:
                index:
                  type: integer
                  description: Zero-based offset into the list of children for the item from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/V2PlaylistBrowseResponse'
        default:
          $ref: '#/responses/default'
  /V2/playlist/subscribe:
    get:
      summary: Subscribe to the playlist of a room
      description: | 
        Returns descriptions of media items within the room's playlist, including index references that allow them to be played using the /V2/playlist/select endpoint. 
        
        Gives updates whenever the media content changes. To unsubscribe, enter the room into the unsubscribe endpoint. This endpoint can also be used to monitor the number of tracks in the room's playlist - making a request with a 'count' value of 0 will still return updates with the 'total' value.

        The 'concise' flag allows for a more efficient updating system with significantly reduced communications. If a track has simply moved to a new position, without any properties changing, a "previously_at_index" properties is used to identify its position in the previous update. Using this will therefore require additional logic on the client side.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - index
              - count
              - concise
              properties:
                index:
                  type: integer
                  description: Zero-based offset into the list of children for the item from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
                concise:
                  type: boolean
                  description: Enables concise updating.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/V2PlaylistSubscribeResponse'
        default:
          $ref: '#/responses/default'
  /V2/playlist/unsubscribe:
    post:
      summary: Remove subscription to the playlist of a room
      description: | 
        Enter a media identifier that is currently pushing updates and stop further updates.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
      tags:
        - API V2 - Playlist
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/select:
    post:
      summary: Select a playlist item for playback
      description: |
        Selects an item within a room's playlist by index to become the actively playing track.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - index
              properties:
                index:
                  type: integer
                  description: Zero-based index of the position in the room playlist to select.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/move_to_top:
    post:
      summary: Move an item in a room's playlist to the top
      description: |
        Takes in the index of an item in the room's active playlist and moves it to the first position in the DS playlist
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - index
              properties:
                index:
                  type: integer
                  description: Zero-based index of the item's position in the room playlist to move.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/move_up:
    post:
      summary: Move an item up in a room's playlist
      description: |
        Takes in the index of an item in the room's active playlist and moves it up one position in the DS playlist
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
                - index
              properties:
                index:
                  type: integer
                  description: Zero-based index of the item's position in the room playlist to move.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/move_down:
    post:
      summary: Move an item down in a room's playlist
      description: |
        Takes in the index of an item in the room's active playlist and moves it down one position in the DS playlist
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
                - index
              properties:
                index:
                  type: integer
                  description: Zero-based index of the item's position in the room playlist to move.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/move_to_end:
    post:
      summary: Move an item in a room's playlist to the end
      description: |
        Takes in the index of an item in the room's active playlist and moves it to the last position in the DS playlist
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
                - index
              properties:
                index:
                  type: integer
                  description: Zero-based index of the item's position in the room playlist to move.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/remove:
    post:
      summary: Remove an item from a room's playlist
      description: |
        Takes in the index of an item in the room's active playlist and removes it from the DS playlist
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
                - index
              properties:
                index:
                  type: integer
                  description: Zero-based index of the item's position in the room playlist to move.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/clear:
    post:
      summary: Clear a room's playlist
      description: |
        Clears all media items from the room's active playlist
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/favourite:
    post:
      summary: Set favourite flag for a playlist item
      description: Marks or unmarks an item within a room's playlist as a favourite. The selected item is chosen by index.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - index
              - favourite
              properties:
                index:
                  type: integer
                  description: Zero-based index of the item's position in the room playlist.
                favourite:
                  type: boolean
                  description: True to set as favourite, false to clear.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/save:
    post:
      summary: Save room's playlist as a new cloud playlist
      description: |
        Creates a new cloud playlist from the contents of a room's playlist with a chosen name.

        Must be logged into a Linn account through the gateway settings.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - name
              properties:
                name:
                  type: string
                  description: Name that the new cloud playlist will take.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/services/status:
    get:
      summary: Query serivces status of room
      description: | 
        Returns the services available to the room

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date service status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2 - Services
      responses:
        '200':
          description: List of the available services for a room.
          schema:
            $ref: '#/definitions/V2ServicesStatusResponse'
        default:
          $ref: '#/responses/default'
  /V2/services/search:
    get:
      summary: Search a service by type and a search argument
      description:  |
        Returns descriptions of available media items that match the search argument, including references that allow them to be played on the media player or browsed further.

        A search type must also be specified. Available types depending on the service, "albums", "artists", "tracks", "playlists", "composers", "stations" 
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - type: object
              required:
              - media_id
              - class
              - search
              - index
              - count
              properties:
                media_id:
                  type: string
                  description: Identifier of the service you wish to search.
                search_arg:
                  type: string
                  description: Search argument used to find results.
                search_type:
                  type: string
                  description: Type of search results to be returned.
                index:
                  type: integer
                  description: Zero-based offset into the matching items from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
      tags:
        - API V2 - Services
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
  /V2/services/playlist_remove:
    post:
      summary: Remove item from a playlist
      description: Remove a media item from a playlist of a service. Currently only supports cloud playlists service.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - type: object
              required:
              - playlist_id
              - remove_id
              properties:
                playlist_id:
                  type: string
                  description: Identifier of the service playlist to modify.
                remove_id:
                  type: string
                  description: Identifier of the item to remove.
      tags:
        - API V2 - Services
      responses:
        '200':
          $ref: '#/responses/success'
        default:
          $ref: '#/responses/default'
  /V2/services/playlist_delete:
    post:
      summary: Deletes an existing playlist
      description: Removes an existing service playlist. Currently only supports cloud playlists service.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - type: object
              required:
              - playlist_id
              properties:
                playlist_id:
                  type: string
                  description: Identifier of the service playlist to destroy.
      tags:
        - API V2 - Services
      responses:
        '200':
          $ref: '#/responses/success'
        default:
          $ref: '#/responses/default'
  /V2/media/browse:
    get:
      summary: Browse media content
      description: |
        Returns descriptions of available media items, including references that allow them to be played on the media player.

        When browsing a media server the "type" must also be specified ('albums', 'artists' or 'genres'). Otherwise type can be null.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - type: object
              required:
              - media_id
              - index
              - count
              - browse_type
              properties:
                media_id:
                  type: string
                  description: Identifier of the item in the browse hierarchy for which to return browse information.
                index:
                  type: integer
                  description: Zero-based offset into the list of children for the item from which to return information.
                count:
                  type: integer
                  description: Number of child items to return.
                browse_type:
                  type: string
                  description: Type required only when browsing media servers.
      tags:
        - API V2 - Media
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/MediaBrowseResponse'
        default:
          $ref: '#/responses/default'
#  /V2/media/subscribe:
#    get:
#      summary: Subscribe to media content
#      description: |
#        Returns descriptions of available media items, including references that allow them to be played on the media player.
#
#        Gives updates whenever the media content changes. To unsubscribe, enter the media identifier into the unsubscribe endpoint.
#      parameters:
#        - name: body
#          required: true
#          in: body
#          schema:
#            allOf:
#            - $ref: '#/definitions/ParamTag'
#            - type: object
#              required:
#              - media_id
#              - index
#              - count
#              properties:
#                media_id:
#                  type: string
#                  description: Identifier of the item in the browse hierarchy for which to return browse information.
#                index:
#                  type: integer
#                  description: Zero-based offset into the list of children for the item from which to return information.
#                count:
#                  type: integer
#                  description: Number of child items to return.
#      tags:
#        - API V2 - Media
#      responses:
#        '200':
#          description: Browse content for the given identifier
#          schema:
#            $ref: '#/definitions/MediaBrowseResponse'
#        default:
#          $ref: '#/responses/default'
#  /V2/media/unsubscribe:
#    post:
#      summary: Remove subscription to media content
#      description: Enter a media identifier that is currently pushing updates and stop further updates.
#      parameters:
#        - name: body
#          required: true
#          in: body
#          schema:
#            allOf:
#            - $ref: '#/definitions/ParamTag'
#            - type: object
#              required:
#              - media_id
#              properties:
#                media_id:
#                  type: string
#                  description: Identifier of the subscribed media item.
#      tags:
#        - API V2 - Media
#      responses:
#        '200':
#          $ref: '#/responses/success'
#        default:
#          $ref: '#/responses/default'
  /V2/media/select:
    post:
      summary: Select media content for playback
      description: |
        Selects some media item for playback in the given room.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - $ref: '#/definitions/ParamRoom'
            - type: object
              required:
              - media_id
              properties:
                media_id:
                  description: Identifier that specifies what should be played.  The id is obtained either through a browse/link/match/search request or from the current play queue.
                  type: string
                queue:
                  description: If the item is queueable, specifies how it should modify the play queue.  If not specified, last is assumed.  If the item is not queueable, this parameter is ignored. `now` places the item(s) before what is currently playing, stops play and starts playing the new items. `next` places the item(s) after the currently playing item; `last` places the item(s) at the end of the queue; `replace` replaces the whole queue with the given item(s).
                  type: string
                  enum:
                    - now
                    - next
                    - last
                    - replace
      tags:
        - API V2 - Media
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/media/favourite:
    post:
      summary: Set or clear favourite flag for a media item
      description: Marks or unmarks a media item as a favourite.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
            - $ref: '#/definitions/ParamTag'
            - $ref: '#/definitions/ParamSession'
            - type: object
              required:
              - media_id
              - favourite
              properties:
                media_id:
                  type: string
                  description: Identifier of the item to mark or unmark as a favourite.
                favourite:
                  type: boolean
                  description: True to set as favourite, false to clear.
      tags:
        - API V2 - Media
      responses:
        '200':
          $ref: '#/responses/success'
        default:
          $ref: '#/responses/default'

definitions:
  APIVersionResponse:
    type: object
    properties:
      tag:
        type: string
        description: Tag from the original request that generated this response.
      data:
        type: object
        description: Information about API version.
        properties:
          currentVersion:
            type: string
            description: Version of this API used by the device.
          minimumClientVersion:
            type: string
            description: Requests from clients coded against this version of the API or later will be handled correctly and the responses will be as expected, i.e. no changes or additions to the structure or types of content.  Clients coded against earlier versions of the API may have requests rejected or unexpected data in the responses.
  Error:
    type: object
    properties:
      session:
        type: string
        description: Session from the original request that generated this response.
      tag:
        type: string
        description: Tag from the original request that generated this response.
      code:
        type: integer
        format: int32
        description: Unique code for the error
      message:
        type: string
        description: Human-readable message describing the error
      fields:
        description: Arbitrary list of additional information about the error; can vary according to the error, may be null.
        type: array
        items:
          type: object
  FilterSpec:
    type: object
    properties:
      path:
        type: string
        description: The command to which the filter applies
      filter:
        type: string
        description: The filter to apply; null if no filter (this can happen if all information is required but incremental is true)
[...]
