swagger: '2.0'
info:
  title: Linn Network Control Protocol
  description: Network control protocol for Linn DS and OpenHome
  #version: 4.1.105

  version: '4.1.54'
host: www.janustechnology.co.uk
schemes:
  - http
basePath: /lncp
produces:
  - application/json
paths:
  /session/create:
    post:
      summary: Create a Session
      description: |
        Sessions provide a mechanism for specifying on-going settings just once (e.g. filtering, language choice).  They also provide a context for asynchronous events.  The return session id is required alongside the tag for further requests.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamFilter'
              - $ref: '#/definitions/ParamTag'
              - type: object
                properties:
                  userAgent:
                    description: Information about the control system creating a session, formatted in the form of, {identifier}/{version}, e.g. Linn Crestron/4.2.1.
                    type: string
                  timeout:
                    description: If the connection to the device is via a protocol that does not keep a connection open (e.g. discrete HTTP requests) then this parameter gives a timeout in seconds.  The device is permitted to discard any session-related data if it has not received a message containing this session ID after this many seconds.
                    type: integer
                  locale:
                    description: Set desired locale. List of locales in order of preference. Locale specified as ll[_CC] using ISO 639 (language) and ISO 3166-1 alpha-2 (2-letter country) codes.  If the device is unable to support any of the locales, it will still send back a 200 response, but the locale value will show the default locale that has been chosen instead. This is a short-cut to allow creating a session and choosing a locale in one call rather than calling /sesion/locale separately.
                    type: array
                    items:
                      type: string
      tags:
        - Session
      responses:
        '200':
          description: Current session data.  The session ID will be a new one generated by the device that is unique within the connecting context, i.e. if connected by HTTP, not currently used by any other HTTP client; if connected by WebSocket, not previously used within that connection.
          schema:
            $ref: '#/definitions/SessionResponse'
          examples:
            application/json:
              session: s.01
              tag: command1
              data:
                locale: en_GB
        default:
          $ref: '#/responses/default'
  /V2/topology/status:
    get:
      summary: Get key information about current house topology
      description: |
        Returns a list of currently available rooms with their user-defined names. Information about their UDN, host address, static zone recievers (for Kustom DSM streams), and listening rooms.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date topology
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: List of rooms and key information about them
          schema:
            $ref: '#/definitions/V2TopologyStatusResponse'
          examples:
            application/json:
              tag: tag_01
              data:
                rooms:
                  - name: Living Room
                    udn: 4c494e4e-0026-0f22-3df0-1487425-0006
                    location: 192.168.0.135
                    isStaticZoneReceiver: false
                    staticZoneReceivers: []
                    listeners: []
                  - name: Bedroom
                    udn: 4c494e4e-0026-0f22-3df0-1487425-0009
                    location: 192.168.0.133
                    isStaticZoneReceiver: false
                    staticZoneReceivers: []
                    listeners: []
                  - name: En-Suite
                    udn: 4c494e4e-0026-0f22-3df0-1487425-0010
                    location: 192.168.0.143
                    isStaticZoneReceiver: false
                    staticZoneReceivers: []
                    listeners: []
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/transport/status:
    get:
      summary: Query transport status of room
      description: |
        Return the transport status of the room.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date transport status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Transport status parameters for a room
          schema:
            $ref: '#/definitions/V2TransportStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                transport_state: buffering
                shuffle: true
                repeat: false
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/transport/play:
    post:
      summary: Set transport state of room to 'play'
      description: |
        Sets the transport state of the room to 'play'.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/pause:
    post:
      summary: Set transport state of room to 'pause'
      description: |
        Sets the transport state of the room to 'pause'.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/transport/skip_track:
    post:
      summary: Skip tracks by specified index
      description: |
        Skips to previous/next track in the active playlist if relevant to active source
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - type: object
                properties:
                  skip_track:
                    description: If specified, direction to skip. Negative value to skip backwards, positive value to skip forward.
                    type: integer
                    format: int32
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/seek/status:
    get:
      summary: Query seek status of what is currently playing in a room
      description: |
        Returns information about whether the currently playing media item is seekable and if it is the running length and the current time elapsed

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date seek status
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: List of the available services for a room.
          schema:
            $ref: '#/definitions/V2SeekStatusResponse'
        default:
          $ref: '#/responses/default'
  /V2/metadata/status:
    get:
      summary: Query metadata status of room
      description: "Returns information on room's metadata specifically for LinnLite module's metadata signal outputs (contents is dependant on source type). \n\nIf the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date metadata status\n"
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - $ref: '#/definitions/ParamUpdate'
      tags:
        - API V2
      responses:
        '200':
          description: Metadata status parameters for a room
          schema:
            $ref: '#/definitions/V2MetadataStatusResponse'
          examples:
            application/json:
              tag: tag_01
              metadata:
                line_1: Go!
                line_2: Public Service Broadcasting
                line_3: The Race for Space
                art_uri: http://127.0.0.1/art.png
              session: sessionid
              room: Living Room
        default:
          $ref: '#/responses/default'
  /V2/volume/status:
    get:
      summary: Query volume status of room
      description: |
        Return the mute and volume states of the room.

        If the client sets `update` > 0, an update will be sent to the client every update period with the up-to-date volume status.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - $ref: '#/definitions/ParamUpdate'
              - type: object
                properties:
                  group:
                    description: If specified and true and the room is a member of a group, the values returned are for the group as a whole.
                    type: boolean
      tags:
        - API V2
      responses:
        '200':
          description: Volume status parameters for a room
          schema:
            $ref: '#/definitions/V2VolumeStatusResponse'
          examples:
            application/json:
              tag: tag_01
              room: Main Room
              data:
                mute: false
                volume: 50
              session: sessionid
        default:
          $ref: '#/responses/default'
  /V2/volume/set_vol:
    post:
      summary: Set volume of room by an absolute value
      description: |
        Sets the volume level of a room. If a setting is specified in the parameter, the volume will change to that value (within the volume limits).
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - type: object
                properties:
                  volume:
                    description: If specified, perform an absolute volume level change.
                    type: integer
                    format: int32
                  group:
                    description: If specified and the room is a group master, all rooms in the group are modified.
                    type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/volume/set_mute:
    post:
      summary: Set mute state of room
      description: |
        Sets the mute state of a room. If a setting is specified in the parameter, the mute state is changed to the new value.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - type: object
                properties:
                  mute:
                    description: If specified, sets the mute state of the room.
                    type: boolean
                  group:
                    description: If specified and the room is a group master, all rooms in the group are modified.
                    type: boolean
      tags:
        - API V2
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
  /V2/playlist/subscribe:
    get:
      summary: Subscribe to the playlist of a room
      description: "Returns descriptions of media items within the room's playlist, including index references that allow them to be played using the /V2/playlist/select endpoint. \n\nGives updates whenever the media content changes. To unsubscribe, enter the room into the unsubscribe endpoint. This endpoint can also be used to monitor the number of tracks in the room's playlist - making a request with a 'count' value of 0 will still return updates with the 'total' value.\n\nThe 'concise' flag allows for a more efficient updating system with significantly reduced communications. If a track has simply moved to a new position, without any properties changing, a \"previously_at_index\" properties is used to identify its position in the previous update. Using this will therefore require additional logic on the client side.\n"
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - type: object
                required:
                  - index
                  - count
                  - concise
                properties:
                  index:
                    type: integer
                    description: Zero-based offset into the list of children for the item from which to return information.
                  count:
                    type: integer
                    description: Number of child items to return.
                  concise:
                    type: boolean
                    description: Enables concise updating.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          description: Browse content for the given identifier
          schema:
            $ref: '#/definitions/V2PlaylistSubscribeResponse'
        default:
          $ref: '#/responses/default'
  /V2/playlist/select:
    post:
      summary: Select a playlist item for playback
      description: |
        Selects an item within a room's playlist by index to become the actively playing track.
      parameters:
        - name: body
          required: true
          in: body
          schema:
            allOf:
              - $ref: '#/definitions/ParamTag'
              - $ref: '#/definitions/ParamSession'
              - $ref: '#/definitions/ParamRoom'
              - type: object
                required:
                  - index
                properties:
                  index:
                    type: integer
                    description: Zero-based index of the position in the room playlist to select.
      tags:
        - API V2 - Playlist
      responses:
        '200':
          $ref: '#/responses/success_room'
        default:
          $ref: '#/responses/default'
definitions:
  FilterSpec:
    type: object
    properties:
      path:
        type: string
        description: The command to which the filter applies
      filter:
        type: string
        description: The filter to apply; null if no filter (this can happen if all information is required but incremental is true)
      incremental:
        type: boolean
        description: true if responses from this command should only contain items that have changed since the previous response; false if full information should be returned each time.
      artist: null
  SessionData:
    type: object
    description: Session information.
    properties:
      locale:
        type: string
        description: Locale being used for this session.
      filters:
        description: Filters being applied for this session
        type: array
        items:
          $ref: '#/definitions/FilterSpec'
      artist: null
  SessionResponse:
    type: object
    properties:
      session:
        type: string
        description: Session from the original request that generated this response.
      tag:
        type: string
        description: Tag from the original request that generated this response.
      data:
        $ref: '#/definitions/SessionData'
      artist: null
  # Parameter definitions for the body of the POST request
  ParamFilter:
    type: object
    properties:
      filter:
        description: The parts of the `data` object of the response that are wanted as a list of JsonPath values. This overrides any session filter. See /session/filter for more details.
        type: array
        items:
          type: string
      artist: null
  ParamRoom:
    type: object
    required:
      - room
    properties:
      room:
        description: Room ID
        type: string
      artist: null
  ParamSession:
    type: object
    required:
      - session
    properties:
      session:
        description: Opaque string, returned in the response.  Fixed for a session.
        type: string
      artist: null
  ParamTag:
    type: object
    properties:
      tag:
        description: Opaque string, returned in the response. Varies per message.
        type: string
      artist: null
  ParamUpdate:
    type: object
    properties:
      update:
        description: |
          *(Only applicable to WebSocket connections.)*

          If non-zero, the device will send out asynchronous updates whenever the response data for the operation changes. The value of updates specifies the minimum time, in seconds between updates. 0 cancels sending updates, and the update state is left unchanged if the parameter omitted.

          If a session ID is specified, the update data will be formatted according to the locale and filter settings for that session.

          If a tag is specified, this will be returned with every asynchronous response.
        type: integer
        # V2 definitions
      artist: null
  V2TopologyStatusResponse:
    type: object
    properties:
      tag:
        type: string
        description: Tag from the original request that generated this response.
      data:
        $ref: '#/definitions/V2TopologyStatusData'
      session:
        type: string
        description: Session from the original request that generated this response.
      artist: null
  V2TopologyStatusData:
    type: object
    description: The topology of the house.
    properties:
      rooms:
        type: array
        description: Array of rooms in the house.
        items:
          type: object
          description: Information pertaining to a room in the house.
          properties:
            name:
              type: string
              description: Human-readable name of the room.
            udn:
              type: string
              description: Unique device name of the room.
            location:
              type: string
              description: Host IPv4 address of the room.
            isStaticZoneReceiver:
              type: boolean
              description: Is the room a static zone receiver.
            staticZoneReceivers:
              type: array
              description: List of static zone receivers listening to this room (only applies to Kustom DSM streams).
              items:
                type: string
                description: Human-readable name of the static zone receiver.
            listeners:
              type: array
              description: List of rooms currently listening to this room.
              items:
                type: string
                description: Human-readable name of the listening room.
      artist: null
  V2VolumeStatusResponse:
    type: object
    description: The volume status of a room
    properties:
      tag:
        type: string
        description: Tag from the original request that generated this response.
      data:
        $ref: '#/definitions/V2VolumeStatusData'
      session:
        type: string
        description: Session from the original request that generated this response.
      room:
        type: string
        description: The room name for which this response pertains
      artist: null
  V2VolumeStatusData:
    type: object
    description: The volume status of the room.
    properties:
      mute:
        type: boolean
        description: Current mute state of the room.
      volume:
        type: integer
        format: int32
        description: The volume state of the room.
      artist: null
  V2TransportStatusResponse:
    type: object
    description: The transport status of a room
    properties:
      tag:
        type: string
        description: Tag from the original request that generated this response.
      data:
        $ref: '#/definitions/V2TransportStatusData'
      session:
        type: string
        description: Session from the original request that generated this response.
      room:
        type: string
        description: The room name for which this response pertains
      artist: null
  V2TransportStatusData:
    type: object
    description: The transport status of the room.
    properties:
      transport_state:
        type: string
        description: Current transport state of the room
      shuffle:
        type: boolean
        description: The shuffle state of the room (hidden for sources where not relevant)
      repeat:
        type: boolean
        description: The shuffle state of the room (hidden for sources where not relevant)
      artist: null
  V2SeekStatusResponse:
    type: object
    description: The seek status of a room
    properties:
      tag:
        type: string
        description: Tag from the original request that generated this response.
      data:
        $ref: '#/definitions/V2SeekStatusData'
      session:
        type: string
        description: Session from the original request that generated this response.
      room:
        type: string
        description: The room name for which this response pertains
      artist: null
  V2SeekStatusData:
    type: object
    description: The transport status of the room.
    properties:
      seekable:
        type: boolean
        description: Is the room's current source seekable
      elapsed:
        type: integer
        format: int32
        description: Seconds elapsed for current media item
      duration:
        type: integer
        format: int32
        description: Duration in seconds for current media item
      artist: null
  V2MetadataStatusResponse:
    type: object
    description: The metadata status of a room
    properties:
      tag:
        type: string
        description: Tag from the original request that generated this response.
      metadata:
        $ref: '#/definitions/V2MetadataStatusData'
      session:
        type: string
        description: Session from the original request that generated this response.
      room:
        type: string
        description: The room name for which this response pertains
      artist: null
  V2MetadataStatusData:
    type: object
    description: The metadata status of the room.
    properties:
      line_1:
        type: string
        description: First line of metadata. Will contain track name, radio station name or external source name depending on active source
      line_2:
        type: string
        description: Second line of metadata. Will contain artist names, radio metatext or return empty depending on active source
      line_3:
        type: string
        description: Third line of metadata. Will contain album name or bit rate depending on active source
      art_uri:
        type: string
        description: Metadata artwork URI for current playback
      audio_format:
        type: string
        description: Audio format for current playback
      sample_rate:
        type: string
        description: Sample rate for current playback
      bit_depth:
        type: string
        description: Bit depth for current playback
      artist: null
  V2PlaylistBrowseResponse:
    type: object
    properties:
      session:
        type: string
        description: Session from the original request that generated this response.
      tag:
        type: string
        description: Tag from the original request that generated this response.
      room:
        type: string
        description: The room name for which this response pertains
      data:
        $ref: '#/definitions/V2PlaylistBrowseData'
      artist: null
  V2PlaylistBrowseData:
    type: object
    description: Browse data for a given item in the player's browseable content.
    properties:
      index:
        description: Index of first child in the children array.
        type: integer
      count:
        description: Count of children in the children array.
        type: integer
      total:
        description: Total number of children that are available to be fetched.
        type: integer
      children:
        $ref: '#/definitions/V2PlaylistBrowseIndex'
      artist: null
  V2PlaylistSubscribeResponse:
    type: object
    properties:
      session:
        type: string
        description: Session from the original request that generated this response.
      tag:
        type: string
        description: Tag from the original request that generated this response.
      room:
        type: string
        description: The room name for which this response pertains
      data:
        $ref: '#/definitions/V2PlaylistSubscribeData'
      artist: null
  V2PlaylistSubscribeData:
    type: object
    description: Browse data for a given item in the player's browseable content.
    properties:
      content_revision:
        type: integer
        description: Current revision number for the playlist update. Increments by 1 on every update. If using 'concise' updates an there is a break in update contiguity then client should resubscribe.
      index:
        description: Index of first child in the children array.
        type: integer
      count:
        description: Count of children in the children array.
        type: integer
      total:
        description: Total number of children that are available to be fetched.
        type: integer
      children:
        $ref: '#/definitions/V2PlaylistBrowseIndex'
      artist: null
  V2PlaylistBrowseIndex:
    type: object
    description: Index of a position in a rooms playlist and the item metadata it contains.
    additionalProperties:
      $ref: '#/definitions/V2PlaylistItemMetadata'
  V2PlaylistItemMetadata:
    type: object
    description: Information about an item in the system (e.g. album, track or stream, input)
    discriminator: class
    properties:
      class:
        type: string
        description: A class id that defines the type of item, which in turn defines what operations it supports.
      buffering:
        type: boolean
        description: true if the item is being buffered to play.  false if not.  Not present (null) if metadata is not for an item in a room's playlist.
      playing:
        type: boolean
        description: true if the item is being played.  false if not.  Not present (null) if metadata is not for an item in a room's playlist.
      selected:
        type: boolean
        description: true if the item is selected for play.  false if not.  Not present (null) if metadata is not for an item in a room's playlist.
      name:
        type: string
        description: Title of the item.  What this is will vary according to the item type, but the intention is that this should be the string that best represents the item if it is the only string displayed for it.
      art_uri:
        type: string
        description: URL for associated logo/album art for item. Can be null.
      disabledActions:
        type: array
        description: |
          List of action ids of actions that are valid for this item's class but which this particular item does not currently support (e.g. can't favourite a curerntly favourited item).
        items:
          type: string
          description: Action id of disabled action
      artist:
        type: array
        items:
          type: string
        description: Artist name
      album:
        type: string
        description: Album name
      duration:
        type: integer
        format: int32
        description: Duration of the item in seconds. 0 if unknown
    required:
      - class
responses:
  default:
    description: |
      An error, with one of the following HTTP codes:
       * __400__ request failed
       * __404__ unknown path
       * __410__ unknown session ID
       * __500__ device error
    schema:
      $ref: '#/definitions/Error'
  no_error:
    description: Command completed succesfully.
    schema:
      type: object
      properties:
        session:
          type: string
          description: Session from the original request that generated this response.
        tag:
          type: string
          description: Tag from the original request that generated this response.
    examples:
      application/json:
        session: s.06
        tag: tag_01
  success:
    description: Room targeted command completed succesfully.
    schema:
      type: object
      properties:
        tag:
          type: string
          description: Tag from the original request that generated this response.
        session:
          type: string
          description: Session from the original request that generated this response.
    examples:
      tag: tag_01
      session: session_id
  success_room:
    description: Room targeted command completed succesfully.
    schema:
      type: object
      properties:
        tag:
          type: string
          description: Tag from the original request that generated this response.
        room:
          type: string
          description: The target room of the original request that generated this response.
        session:
          type: string
          description: Session from the original request that generated this response.
    examples:
      tag: tag_01
      room: Main Room
      session: session_id
tags:
  - name: Session
    description: Set-up and control of a session with the client.
  - name: House
    description: Control/information for multiple rooms.
  - name: Room
    description: Control/information of a single given room.
  - name: Updates
    description: Commands that can be set-up to provide aysnchronous notification of changes in state.
  - name: Browse
    description: Commands that return information and references to playable media content.
  - name: Playlist
    description: Commands that relate to playlists.
  - name: Presets
    description: Commands that relate to presets.
  - name: Queue
    description: Commands that list or modify the current play queue.
  - name: API V2
    description: Beta API
  - name: API V2 - Playlist
    description: Commands that relate to a room's playlist.
  - name: API V2 - Services
    description: Commands that relate to services.
  - name: API V2 - Media
    description: Commands that relate to media.
